name: autofix.ci # needed to securely identify the workflow

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'

      - name: Install matterbridge globally
        run: npm install -g matterbridge@latest

      - name: Install dependencies
        run: npm ci

      - name: Link matterbridge in the project
        run: npm link matterbridge

      - name: Run prettier
        run: npm run format

      - name: Run eslint
        run: npm run lint:fix

      - name: Run autofix.ci to commit the changes
        uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
